<template id="card-modal">
    <div class="modal" :class="{ 'is-active': opened }">
        <div class="modal-background" v-on:click="closeIfCloseable"><slot name="background"></slot></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"><slot name="title"></slot></p>
                <button v-if="closeable" class="delete" v-on:click="closeIfCloseable"></button>
            </header>
            <section class="modal-card-body">
                <slot></slot>
            </section>
            <footer class="modal-card-foot">
                <slot name="actions"></slot>
            </footer>
        </div>
    </div>
</template>

<script>
    Vue.component('card-modal', {
        template: document.currentScript.ownerDocument.querySelector("#card-modal").innerHTML,
        props: {
            closeable: {
                type: Boolean,
                'default': true
            },
            opened: {
                type: Boolean,
                'default': false
            }
        },
        methods: {
            open: function() {
                this.opened = true;
            },
            close: function() {
                this.opened = false;
            },
            toggle: function() {
                this.opened = !this.opened;
            },
            closeIfCloseable: function() {
                if(this.closeable) {
                    this.close();
                }
            }
        }
    });
</script>