<link rel="import" href="<%= asset_path('metadata-select.html') %>">

<template id="playlists-top-panel">
  <div class="level">
    <div class="level-left"></div>
    <div class="level-item"></div>
    <div class="level-right">
      <metadata-select :metadata="metadata" :selected="visible" @selected-changed="emitVisibleChanged"></metadata-select>
      <button @onClick="deletePlaylist" class="button is-danger">
        <span>Delete</span>
      </button>
    </div>
  </div>
</template>

<script>
    Vue.component('playlists-top-panel', {
        template: document.currentScript.ownerDocument.querySelector("#playlists-top-panel").innerHTML,
        props: {
            metadata: Array,
            visible: Array
        },
        data: function() {
            return {
            };
        },
        methods: {
            emitVisibleChanged: function(changed) {
                this.$dispatch('visible-changed', changed);
            },
            deletePlaylist: function () {
                this.$dispatch('playlist-delete')
            }
        }
    });
</script>