<template id="playlist-delete">
    <button class="button is-danger" @click="deletePlaylist">
        <span class="icon">
            <i class="fa fa-trash"></i>
        </span>
    </button>
</template>

<script>
    Vue.component('playlist-delete', {
        template: document.currentScript.ownerDocument.querySelector("#playlist-delete").innerHTML,
        props: {
            playlist: Object
        },
        methods: {
            deletePlaylist: function() {
                $.ajax({
                    method: 'DELETE',
                    url: `/playlists/${this.playlist.id}.json`,
                    success: () => {
                        this.$dispatch('playlist-deleted', this.playlist)
                    }
                });
            },
        }
    });
</script>