<template id="search">
    <div class="column is-4 is-offset-4 nav-item">
        <input class="input is-expanded" placeholder="Search ..." @keyup.enter="doSearch" v-model="search">
    </div>
</template>

<script>
    Vue.component('search', {
        template: document.currentScript.ownerDocument.querySelector("#search").innerHTML,
        data: function() {
            return {
                search: ""
            }
        },
        methods: {
            doSearch: function() {
                this.$dispatch('search', this.search);
            },
        }
    });
</script>