<template id="video-row">
    <tr>
        <td>{{ video.location }}</td>
        <td>{{ video.name }}</td>
        <td>{{ video.file_hash }}</td>
        <td>{{ video.thumbnails.available.length }}</td>
        <td v-for="key in metadata">{{ video[key] }}</td>
        <td><button v-on:click="remove()">Remove</button></td>
    </tr>
</template>

<script>
Vue.component('video-row', {
    template: document.currentScript.ownerDocument.querySelector("#video-row").innerHTML,
    props: {
        video: Object,
        metadata: Array
    },
    methods: {
        remove: function() {
            const that = this;
            $.ajax({
                url: '/videos/' + this.video.id + '.json',
                method: 'delete',
                success: function(response) {
                    that.$dispatch('remove', that.video.id);
                }
            });
        }
    }
});
</script>