<template id="metadata-input">
    <input class="input" type="text" v-if="metadata.type == 'text'" v-model="value" :readonly="metadata.readonly" />
    <input class="input" type="number" v-if="metadata.type == 'number'" v-model="value" :readonly="metadata.readonly" />
    <input class="checkbox" type="checkbox" v-if="metadata.type == 'on_off'" v-model="value" :readonly="metadata.readonly" />
    <input class="range" type="range" v-if="metadata.type == 'range'" v-model="value" :min="metadata.options.min" :max="metadata.options.max" :readonly="metadata.readonly" />
    <span class="select" v-if="metadata.type == 'select'">
        <select v-model="value" :disabled="metadata.readonly">
            <option v-for="option in metadata.options.values">{{ option }}</option>
        </select>
    </span>
</template>

<script>
    Vue.component('metadata-input', {
        template: document.currentScript.ownerDocument.querySelector("#metadata-input").innerHTML,
        props: ['metadata', 'value']
    });
</script>