<link rel="import" href="<%= asset_path('card-modal.html') %>">
<link rel="import" href="<%= asset_path('video-form.html') %>">

<template id="video-edit-modal">
  <card-modal :closeable="true" :opened="shown" @close="close">
    <span slot="title">Editing Video '{{ video.name }}'</span>
    <div>
      <video-form :video.sync="video"></video-form>
    </div>
    <div slot="actions">
      <button class="button is-success" :class="{ 'is-loading': isSaving }" @click="saveVideo">Save</button>
      <button class="button" @click="close">Cancel</button>
    </div>
  </card-modal>
</template>

<script>
  Vue.component('video-edit-modal', {
    template: document.currentScript.ownerDocument.querySelector("#video-edit-modal").innerHTML,
    props: {
      video: Object,
      shown: {
        type: Boolean,
        'default': false
      }
    },
    data: function() {
      return {
        isSaving: false
      };
    },
    methods: {
      close: function() {
        this.shown = false;
        this.$dispatch('edit-finish');
      },
      saveVideo: function() {
        this.isSaving = true;
        $.ajax({
          url: '/videos/' + this.video.id + '.json',
          method: 'put',
          dataType: "json",
          data: {
            video: this.video
          },
          success: (response) => {
            this.$dispatch('edit-finish');
            this.$dispatch('video-update', response);
            this.isSaving = false;
          }
        });
      }
    }
  });
</script>