<template id="video-table">
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Name</th>
                <th>Hash</th>
                <th v-for="key in keys">{{ key }}</th>
                <th>Actions</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="video in videos" is="video-row" :video="video" :metadata="keys" v-on:click="editVideo(video)"></tr>
        </tbody>
    </table>
    <div v-if="edit" is="video-editor" :video="editedVideo"></div>
</template>

<script>
    Vue.component('video-table', {
        template: document.currentScript.ownerDocument.querySelector("#video-table").innerHTML,
        data: function() {
            return {
                videos: [],
                keys: [],
                edit: false,
                editedVideo: null
            }
        },
        props: {
            query: String
        },
        methods: {
            editVideo: function(video) {
                this.editedVideo = video;
                this.edit = true;
            },
            refresh: function() {
                const that = this;
                $.ajax({
                    url: '/videos.json' + (this.query ? '?search=' + this.query : ''),
                    success: function(response) {
                        that.videos = response;
                    }
                });

                $.ajax({
                    url: '/metadata/keys.json',
                    success: function(response) {
                        that.keys = response;
                    }
                });
            },
            stopEditing: function() {
                this.edit = false;
                this.editedVideo = null;
            }
        },
        events: {
            'saved': function(edited) {
                this.stopEditing();
            },
            'remove': function(removed) {
                console.log("removing", removed);
                this.videos = this.videos.filter(function(video) {
                    return video.id != removed;
                });

                if(this.editedVideo != null && this.editedVideo.id == removed) {
                    this.stopEditing();
                }
            },
            'cancel': function() {
                this.stopEditing();
            }
        },
        watch: {
            query: function() {
                this.refresh();
            }
        },
        ready: function() {
            this.refresh();
        }
    });
</script>