<link rel="import" href="<%= asset_path('metadata-select.html') %>">
<link rel="import" href="<%= asset_path('search.html') %>">

<template id="videos-top-panel">
    <div class="level">
        <div class="level-left">
            <div class="block">
                <button class="button is-primary" :class="{ 'is-loading': refreshing }" @click="onRefresh">
                    <span class="icon">
                        <i class="fa fa-refresh"></i>
                    </span>
                    <span>Reload</span>
                </button>
                <button class="button" @click="onPlaylistCreate">
                    <span class="icon">
                        <i class="fa fa-plus-square"></i>
                    </span>
                    <span>Add to Playlist</span>
                </button>
            </div>
        </div>
        <div class="level-item">
            <search />
        </div>
        <div class="level-right">
            <metadata-select :metadata="metadata" :selected="visible" @selected-changed="emitVisibleChanged"></metadata-select>
        </div>
    </div>
</template>

<script>
    Vue.component('videos-top-panel', {
        template: document.currentScript.ownerDocument.querySelector("#videos-top-panel").innerHTML,
        props: {
            metadata: Array,
            visible: Array
        },
        data: function() {
            return {
                search: "",
                refreshing: false
            };
        },
        methods: {
            onRefresh: function() {
                this.refreshing = true;
                $.ajax({
                    url: '/videos/refresh',
                    success: () => {
                        this.refreshing = false;
                        this.$dispatch('reload');
                    }
                });
            },
            onPlaylistCreate: function() {
                this.$dispatch('do-create-playlist');
            },
            emitVisibleChanged: function(changed) {
                this.$dispatch('visible-changed', changed);
            }
        }
    });
</script>