<template id="video-form">
    <form>
        <div class="form-input">
            <label>Name</label>
            <input type="text" v-model="video.name">
        </div>
        <div class="form-input">
            <label>Location</label>
            <input type="text" v-model="video.location">
        </div>
        <div class="form-input">
            <label>Hash</label>
            <input type="text" v-model="video.file_hash">
        </div>
        <div class="form-input">
            <div class="column">
                <label>Thumbnails</label>
                <button v-on:click="clearThumbnails">Clear</button>
                <button v-on:click="generateThumbnails">New</button>
            </div>
            <image :class="{ 'selected-thumbnail': isSelected(thumb) }" v-on:click="selectThumbnail(thumb)" :src="thumb" height="160" width="320" v-for="thumb in video.thumbnails.available"></image>
        </div>
        <div class="form-input" v-for="meta in metadata">
            <label>{{ meta.name }}</label>
            <metadata-input :value.sync="video[meta.name]" :metadata="meta" />
        </div>
    </form>
    <button v-on:click="save()">Save</button><button v-on:click="cancel()">Cancel</button>
</template>

<script>
    Vue.component('video-editor', {
        template: document.currentScript.ownerDocument.querySelector("#video-form").innerHTML,
        props: {
            video: Object
        },
        data: function() {
            return {
                metadata: []
            };
        },
        methods: {
            save: function() {
                const that = this;
                $.ajax({
                    url: '/videos/' + this.video.id + '.json',
                    method: 'put',
                    dataType: "json",
                    data: {
                        video: this.video
                    },
                    success: function(response) {
                        that.$dispatch('saved', response);
                    }
                });
            },
            cancel: function() {
                this.$dispatch('cancel', this.video.id);
            },
            isSelected: function(thumb) {
                var selected = this.video.thumbnails.selected;
                return this.video.thumbnails.available[selected] === thumb;
            },
            selectThumbnail: function(thumb) {
                var index = this.video.thumbnails.available.indexOf(thumb);
                if(index < 0) {
                    return;
                }

                this.video.thumbnails.selected = index;
            },
            clearThumbnails: function(ev) {
                ev.preventDefault();
                return $.ajax({
                    url: '/thumbnails/' + this.video.id + '.json',
                    method: 'delete'
                });
            },
            generateThumbnails: function(ev) {
                ev.preventDefault();
                return $.ajax({
                    url: '/thumbnails/' + this.video.id + '/generate.json',
                    method: 'post'
                });
            }
        },
        ready: function() {
            const that = this;
            $.ajax({
                url: '/metadata.json',
                success: function(response) {
                    that.metadata = response;
                }
            });
        }
    });
</script>