<% title @video.name %>
<div class="content">
    <div class="columns is-12">
        <h1 class="column is-4">Editing Video</h1>
        <div class="column is-2 is-offset-5">
            <a href="<%= watch_video_path @video %>" class="button is-info is-fullwidth fa fa-play">&nbsp;Play</a>
        </div>
    </div>

    <%= render 'form', video: @video %>
</div>
