<%= render 'shared/video_bar', search_term: params[:search] %>
<%= render 'shared/video_collection', videos: @videos, playlist: nil, pager: paginate(@videos) %>
<div id="playlist-select"></div> <!-- need this when adding videos to a playlist -->
<script>
    let controlDown = false;

    $(document).click(event => {
        if (controlDown) {
            const parent = $(event.target).parents('.video-card');
            if (parent.length === 1) {
                parent.toggleClass('is-selected-video');
            }
        }
    });

    const toggleControl = (status) => (event) => {
        if (event.which == 17) {
            controlDown = status;
        }
    };

    $(document).keydown(toggleControl(true));
    $(document).keyup(toggleControl(false));
</script>
