<%= render 'shared/video_bar', search_term: params[:search] %>
<%= render 'shared/video_collection', videos: @videos, playlist: nil %>
<div id="playlist-select"></div> <!-- need this when adding videos to a playlist -->
<script>
    let controlDown = false;

    $('.video-card').click(event => {
        if(controlDown) {
            $(event.currentTarget).toggleClass('is-selected-video');
        }
    });

    const toggleControl = (status) => (event) => {
        if(event.which == 17) {
            controlDown = status;
        }
    };

    $(document).keydown(toggleControl(true));
    $(document).keyup(toggleControl(false));
</script>
