<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Vima</strong> by <a href="https://github.com/kumpelblase2">kumpelblase2</a>. The source code is licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license.
      </p>
    </div>
  </div>
</footer>