<div class="dropdown">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="order-menu">
            <span>Ordering</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="order-menu" role="menu">
        <div class="dropdown-content">
            <%= video_ordering_dropdown_item 'Name', 'name', 'asc' %>
            <%= video_ordering_dropdown_item 'Added', 'created_at', 'desc' %>
            <%= video_ordering_dropdown_item 'Updated', 'updated_at', 'desc' %>
            <hr class="dropdown-divider">
            <% MetadataHelper.get_ordering_metadata.each do |metadata| %>
                <%= video_ordering_dropdown_item metadata.name, metadata.name, metadata.default_ordering %>
            <% end %>
        </div>
    </div>
</div>
