<div class="column is-4-tablet is-2-desktop">
    <a href="<%= playlist_path(playlist) %>">
        <div class="card video-card">
            <div class="card-image">
                <% video = playlist.videos.sample %>
                <% if video %>
                    <%= image_tag video_thumbnail_path(video.selected_thumbnail_path), class: 'image' %>
                <% end %>
            </div>
            <div class="card-header">
                <div class="card-header-title"><%= playlist.name %></div>
            </div>
            <div class="card-content">
                <%= playlist.videos.size %> Videos
            </div>
        </div>
    </a>
</div>
