<div id="video-collection" class="columns is-multiline">
    <% locals = if playlist then { playlist_params: playlist.as_playlist_param } else { playlist_params: {} } end %>
    <%= render partial: 'shared/video', collection: videos, as: 'video', cached: true, locals: locals %>
</div>
<div class="column is-one-third is-offset-one-third">
    <%= pager %>
</div>
