<div class="columns is-multiline">
    <div class="columns column is-12">
        <div class="column is-2 is-offset-1 title">Smart Playlists</div>
        <div class="column is-2 is-offset-7">
            <a href="<%= new_smart_playlist_path %>" class="button is-primary">New</a>
        </div>
    </div>
    <div class="column is-10 is-offset-2">
        <% @playlists.each do |playlist| %>
            <%= render 'shared/smart_playlist', playlist: playlist %>
        <% end %>
    </div>
</div>
