<% title "New Smart Playlist" %>
<div class="columns is-multiline">
    <div class="columns column is-12">
        <div class="column is-11 is-offset-1 title">New Smart Playlist</div>
    </div>
    <div class="column is-10 is-offset-2">
        <%= render 'form', playlist: @playlist %>
    </div>
</div>
