.background-darker {
  background-color: $grey-darker;
}

.background-dark {
  background-color: $grey-dark;
}

.background-color {
  background-color: $grey;
}

.background-light {
  background-color: $grey-light;
}

.background-lighter {
  background-color: $grey-lighter;
}
