.range {
  -webkit-appearance: none;
  width: 100%;
  &:hover {
    outline: none;

    &::-moz-range-thumb {
      border: 1px solid $primary;
    }
  }

  &:focus {
    outline: none;

    &::-moz-range-thumb {
      background: $primary;
      border: 0;
    }
  }

  &::-moz-range-track {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    border: none;
    background: $dark;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    background: $grey-darker;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: -6px;
  }
}
