.selectable-list {
  list-style: none !important;
  list-style-position: inside;
  margin-bottom: 10px;
}

.selectable-list-element {
  padding: 5px;
  cursor: pointer;
}

.selectable-list-element:hover {
  background-color: $primary;
  color: $text-invert;
}
