.selectable-list {
  border: 2px solid #2E2F30;
  border-right-width: 0;
  border-left-width: 0;
}

.selectable-list-element {
  height: 30px;
  width: 100%;
  border: 2px solid #2E2F30;
  border-right-width: 0;
  border-left-width: 0;
}