<%= import_component("video-player") %>

<template id="play-video">
  <div class="column fullscreen-video">
    <video-player :url="url" :autoplay="true" class="fullscreen-video"></video-player>
  </div>
</template>

<play-video url="/content/<%= params[:id] %>/stream"></play-video>

<script>
  Vue.component('play-video', {
      template: '#play-video',
      props: {
          url: String
      }
  });
</script>
