<div class="dropdown is-right">
    <div class="dropdown-trigger">
        <button class="button is-primary" aria-haspopup="true" aria-controls="metadata-menu">
            <span>Display</span>
            <span class="icon is-small">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="metadata-menu" role="menu">
        <div class="dropdown-content">
            <% metadata_elements.each do |metadata| %>
                <div class="dropdown-item">
                    <label class="checkbox">
                        <input type="checkbox" class="metadata-toggle" checked data-metadata-name="<%= metadata.name %>" autocomplete="off"/>
                        <%= metadata.name %>
                    </label>
                </div>
            <% end %>
        </div>
    </div>
</div>
<script>
    $('.checkbox input[type=checkbox]').change(event => {
        const metadataName = $(event.target).data('metadata-name');
        const checked = event.target.checked;
        $(`.metadata-display-${metadataName}`).toggleClass('is-hidden', !checked);
    });
</script>
