/*
$color_black: #201f1d;
$color_orange: #de8d47;
$color_grey: #868685;
$color_white: #ffffff;
$color_light: #dcdcdc;

$color_black: #181712;
$color_blue: #6abed8;
$color_grey: #757571;
$color_white: #f0f0f0;
$color_light: #b0aba0;

*/