@import 'theme/variables';

$column-gap: 0.25rem;

.spacer {
  width: 5px;
}

@import "bulma";
@import 'theme/overrides';
@import "bulma_addons/*";

.header {
  box-shadow: $card-shadow;
}


.is-active > .link {
  color: $primary;
}
